body{
	text-align: center;
	margin: 90px 10%;
}
h1,h2{
	font-family: Verdana, sans-serif;
}
h1{
	font-size: 48px;
}
nav{
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 30px;
	padding-top: 15px;
}
a{
	color: white;
	text-decoration: none;
	margin: 1.5%;
	font-family: Verdana, sans-serif;
	font-weight: normal;
}
#profpic{
	border-radius: 15%;
	margin: 15px;
	min-width: 200px;
}

p{
	margin: 10px;
	padding: 0px 5%;
	font-family: Georgia, serif; 

}
div{
	margin: 30px 0px;
}
iframe{
	margin-top: 20px;
	vertical-align: middle;
}
.artwork-pics{
	min-width: 300px;
}
.anchor{
	position: relative;
	top: -50px;
	display: block;
}